name: Release Source Code

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create source tarball
        run: |
          mkdir -p dist
          # Get the tag name
          TAG_NAME=${GITHUB_REF#refs/tags/}
          # Create a tarball of the current directory, excluding .git and other non-source files
          tar --exclude='./.git' --exclude='./.github' --exclude='./dist' -czvf dist/aerial_gym_simulator-$TAG_NAME.tar.gz .

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/aerial_gym_simulator-*.tar.gz
          generate_release_notes: true
          draft: false
          prerelease: false
